
include ../blocks/header/header.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/personal/personal.pug
include ../blocks/skills/skills.pug
include ../blocks/education/education.pug
include ../blocks/hobby/hobby.pug
include ../blocks/portfolio_mobile/portfolio_mobile.pug
