mixin hobby(modifier)
  section.hobby&attributes(attributes)
    .hobby__area
      .hobby__chapter
        include img/hobby_flapper.svg
        h2.hobby__name Увлечения
      ul.hobby__list
        li.hobby__item
          include img/magic.svg
          p.hobby__text Пример
        li.hobby__item
          include img/pet.svg
          p.hobby__text Пример
        li.hobby__item
          include img/book.svg
          p.hobby__text Пример
        li.hobby__item
          include img/teddy.svg
          p.hobby__text Пример
        li.hobby__item
          include img/life.svg
          p.hobby__text Пример
