.portfolio_mobile {

    background-color: var(--bkg-color-mobile);

    @media screen and (min-width: 481px) {
        display: none;
    }   
    
    @media screen and (max-width: 480px) {

        padding: 0 20px 30px 20px;

        &__chapter {
            color: var(--text-color);
            margin-bottom: 43px;
            display: flex;
            border-bottom: var(--border);
            width: 252px;
            padding-bottom: 12px;
            svg {
                fill: var(--black-blue);
                opacity: 1;
            }
        }

        &__title {
            margin-left: 15px;
            font-weight: 700;
            font-size: px-to-em(18);
            line-height: lh-to-per(21, 18);
        }

        &__card {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 34px;
        }

        &__photo {
            width: 100%;
            max-width: 230px;
        }

        &__content {
            width: 100%;
            max-width: 194px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background: #D9D9D9;
            padding: 20px 0;
        }

        &__name {
            font-family: Roboto;
            font-weight: 400;
            font-size: px-to-em(16);
            line-height: lh-to-per(21, 16);
            color: #394244;
        }

        &__link {
            font-family: Roboto;
            font-weight: 700;
            font-size: px-to-em(12);
            line-height: lh-to-per(18, 12);
            min-width: 100px;
            min-height: 24px;
            border-radius: 15px;
            padding: 5px;
            text-align: center;
            background: #2F3133;
            color: #FFFFFF;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #56DCFF;
                opacity: 1;
                text-decoration: underline;
            }
        }
    }


    @media screen and (max-width: 360px) {

        &__photo {
            width: 100%;
            max-width: 174px;
        }

        &__content {
            width: 100%;
            max-width: 134px;
        }

        &__name {
            font-size: px-to-em(12);
            line-height: lh-to-per(14, 12);
        }

        &__link {
            font-weight: 400;
            font-size: px-to-em(10);
            line-height: lh-to-per(11, 10);
            min-width: 80px;
            padding: 5px;
        }
    }
  
}
