.personal {

    &__area {
        width: 100%;
        max-width: 1280px;
        padding: 0 0 62px 660px;
        display: flex;
        justify-content: space-between;
        color: var(--text-color);

    }

    &__block {
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }

    &__photo {
        width: 100%;
        max-width: 247px;
    }

    &__info {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--black-white);
    }

    &__name {
        margin-bottom: 10px;
        font-weight: 100;
        font-size: px-to-em(44);
        line-height: lh-to-per(52, 44);
    }

    &__surname {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: px-to-em(44);
        line-height: lh-to-per(52, 44);
    }

    &__job {
        font-weight: 300;
        font-size: px-to-em(16);
        line-height: lh-to-per(19, 16);
    }

    &__social {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__icon {
        margin-bottom: 46px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            fill: var(--black-blue);
            opacity: 1;

            &:hover {
                fill: var(--blue-white);
                opacity: 1;
            }
        }
    }

    &__mobile, &__mresume {
        display: none;
    }

    @media screen and (max-width: 1201px) {
        &__area {
            padding: 0 60px 52px 600px;
        }

        &__photo {
            margin-right: 20px;
        }

        &__name {
            margin-bottom: 20px;
            font-size: px-to-em(34);
            line-height: lh-to-per(39, 34);
        }
    
        &__surname {
            font-size: px-to-em(43);
            line-height: lh-to-per(50, 43);
        }
    }

    @media screen and (max-width: 991px) {

        &__area {
            padding: 0 40px 52px 460px;
            justify-content: start;
        }

        &__photo {
            width: 100%;
            max-width: 174px;
            max-height: 174px;
            margin-right: 40px;
        }

        &__block {
            display: block;
        }

        &__name {
            font-size: px-to-em(34);
            line-height: lh-to-per(39, 34);
        }
    
        &__surname {
            font-size: px-to-em(43);
            line-height: lh-to-per(50, 43);
            margin-bottom: 10px;
        }
    
        &__job {
            font-size: px-to-em(12);
            line-height: lh-to-per(14, 12);
            margin-bottom: 20px;
        }

        &__social {
            width: 100%;
            max-width: 110px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__icon {
            margin-bottom: 0;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &__area {
            padding: 0 20px 52px 340px;
        }

        &__photo {
            margin-right: 20px;
        }
    }

    @media screen and (max-width: 480px) {
        padding: 40px 20px 52px 20px;
        color: var(--text-color);
        background-color: var(--bkg-color);


        &__area {
            display: none;
        }

        &__mobile, &__mresume {
            display: block;
        }

        &__mobile {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
        }

        &__mdata {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__minfo {
            display: flex;
        }

        &__mname {
            margin-right: 6px;
            font-weight: 100;
            font-size: px-to-em(20);
            line-height: lh-to-per(22, 20);
        }

        &__msurname {
            font-weight: 400;
            font-size: px-to-em(22);
            line-height: lh-to-per(24, 22);
        }

        &__mjob {
            font-size: px-to-em(12);
            line-height: lh-to-per(14, 12);
        }

        &__msocial {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            max-width: 110px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        &__micon {
            cursor: pointer;
            svg {
                fill: var(--black-blue);
                opacity: 1;
                width: 20px;
                height: 20px;
    
                &:hover {
                    fill: var(--blue-white);
                    opacity: 1;
                }
            }
        }

        &__mphoto {
            width: 100%;
            max-width: 130px;
            max-height: 123px;
            margin-right: 0;
        }

        &__mresume {
            display: flex;
            justify-content: space-between;
        }

        &__mdownload {
            min-width: 121px;
            min-height: 27px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            font-size: px-to-em(10);
            line-height: lh-to-per(11, 10);
            background: var(--bkg-color-mbutton);
            color: var(--text-color-mbutton);
            border-radius: 50px;
            text-decoration: none;
            cursor: pointer;
    
            &:hover {
                color: #56DCFF;
                opacity: 0.7;
                text-decoration: underline;
                fill: #56DCFF;
            }
        }

        &__msymbol {    
            position: relative;
            cursor: pointer;
            svg {
                fill: var(--black-blue);
                opacity: 1;
        
                &:hover {
                    fill: var(--blue-white);
                    opacity: 1;
                }
            }
        }

        &__msymbol:hover::after {
            content: attr(data-title);
            position: absolute;
            z-index: 8;
            left: 140%;
            top: -60%;
            padding: 5px 10px;
            width: 100%;
            min-width: 120px;
            color: #56DCFF;
            font-weight: 700;
            font-size: px-to-em(16);
            line-height: lh-to-per(19, 16);
    
        }
    
        &__mkwork {
            display: flex;
            align-items: center;
            justify-content: space-around;
            min-width: 121px;
            min-height: 27px;
            padding: 10px;
            font-weight: 700;
            font-size: px-to-em(10);
            line-height: lh-to-per(11, 10);
            border-radius: 50px;
            background: var(--bkg-color-mbutton);
            color: var(--text-color-mbutton);
            text-decoration: none;
            cursor: pointer;
    
            &:hover {
                color: #56DCFF;
                opacity: 0.7;
                text-decoration: underline;
            }
        }
    }
}
