mixin personal(modifier)
  section.personal&attributes(attributes)
    .personal__area
      img(src='img/personal_photo1.png' alt='Мария Малькова').personal__photo
      .personal__block  
        .personal__info
          p.personal__name Мария
          p.personal__surname Малькова
          p.personal__job HTML-верстальщик
        ul.personal__social
          a.personal__icon(href='https://vk.com/id6042636' target='_blank'): include img/vk.svg
          a.personal__icon(href='https://t.me/username_Maria' target='_blank'): include img/telegram.svg
          a.personal__icon(href='https://github.com/maria-malkova' target='_blank'): include img/git.svg
    .personal__mobile
      .personal__mdata
        .personal__minfo 
          p.personal__mname Мария
          p.personal__msurname Малькова
        p.personal__mjob HTML-Верстальщик
        .personal__msocial
          a.personal__micon(href='https://vk.com/id6042636' target='_blank'): include img/vk.svg
          a.personal__micon(href='https://t.me/username_Maria' target='_blank'): include img/telegram.svg
          a.personal__micon(href='https://github.com/maria-malkova' target='_blank'): include img/git.svg
      img(src='img/personal_photo1.png' alt='Мария Малькова').personal__mphoto
    .personal__mresume
      a.personal__mdownload(href='#') Скачать резюме 
        include img/mdownload.svg
      .personal__msymbol(data-title = 'Изменить тему'): include img/kwork.svg
      a.personal__mkwork(href='#') KWORK




