mixin skills(modifier)
  section.skills&attributes(attributes)
    .skills__area
      .skills__chapter
        include img/skills_gear.svg
        h2.skills__name Навыки
      .skills__skills  
        .skills__skill
          .pie.animate.no-round(style="--p: 80;")
            .skills__image
              include img/skills_html.svg
          p.skills__text HTML 5
        .skills__skill
          .pie.animate.no-round(style="--p: 70;")
            .skills__image 
              include img/skills_css.svg
          p.skills__text CSS 3
        .skills__skill
          .pie.animate.no-round(style="--p: 30;")
            .skills__image
              include img/skills_js.svg
          p.skills__text Java Script 
        .skills__skill
          .pie.animate.no-round(style="--p: 50;")
            .skills__image 
              include img/skills_git.svg
          p.skills__text Git

        // вернусь к кружочкам позже	