@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.skills {     
   
    &__area {
        width: 100%;
        max-width: 1280px;
        padding: 0 0 62px 660px;
        color: var(--text-color);
        background-color: var(--bkg-color);
    }

    &__chapter {
        margin-bottom: 44px;
        display: flex;
        border-bottom: var(--border);
        width: 252px;
        padding-bottom: 12px;

        svg {
            fill: var(--black-blue);
            opacity: 1;
        }
    }

    &__name {
        margin-left: 15px;
        font-weight: 700;
        font-size: px-to-em(26);
        line-height: lh-to-per(30, 26);
    }

    &__skills {
       // padding: 17px 26px 18px 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: auto;
    }

    .pie {
        --c: #56DCFF;
        --b: 4px;
        --w: 90px;
        width: var(--w);
        aspect-ratio: 1;
        position: relative;
        display: inline-grid;
        margin: 4px;
        place-content: center;
        font-size: 95px;
       
    }

    .animate  {
        animation: p 1s .5s both;
        
    }

    .pie:before,
    .pie:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    
    .pie:before {
        inset: 0;
        background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
         mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    }

    .pie:after {
        inset: calc(50% - var(--b)/2);
        background: var(--c);
        transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
    }

    .no-round:before {
        background-size: 0 0, auto;
    }

    .no-round:after {
        content: none;
    }

    @keyframes p {
        from{--p: 0}
    }

    &__image {
        background-color: #F0ECEC;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }

    &__text {
        font-size: px-to-em(16);
        line-height: 140%;
        text-transform: capitalize;
        color: var(--text-color);
        text-align: left;
    }



    @media screen and (max-width: 1201px) {
        &__area {
            padding: 0 60px 52px 600px;
        }
    }

    @media screen and (max-width: 991px) {
        &__area {
            padding: 0 40px 52px 460px;
        }

        &__name {
            font-size: px-to-em(22);
            line-height: lh-to-per(25, 22);
        }

        &__skill {
            width: 80px;
        }

        &__image {
            width: 45px;
            height: 45px;
        }

        &__text {
            font-size: px-to-em(14);
            line-height: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        &__area {
            padding: 0 20px 52px 340px;
        }

        .pie {
            --w: 75px;
        }
    }

    @media screen and (max-width: 480px) {
        &__area {
            padding: 0 20px 52px 20px;
        }

        &__chapter {
            margin-bottom: 34px;
        }

        &__name {
            font-size: px-to-em(18);
            line-height: lh-to-per(21, 18);
        }

    
    }

    @media screen and (max-width: 360px) {
       
        &__skills {
            padding: 0 30px;
        }

        &__skill {
            width: 90px;
        }

        &__image {
            width: 40px;
            height: 40px;
        }

        &__text {
            font-size: px-to-em(14);
            line-height: lh-to-per(22, 14);
        }

        .pie {
            --w: 65px;
        }

    }

}

   


