mixin education(modifier)
  section.education&attributes(attributes)
    .education__area
      .education__chapter
        include img/education_flask.svg
        h2.education__name Образование
      ul.education__list
        li.education__item
          p.education__inst Название университета  (года обучения)
          p.education__text Сайт рыбатекст поможет дизайнеру, верстальщику вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке а начинающему оратору отточить навык публичных выступлений в домашних условиях
        li.education__item
          p.education__inst Название университета  (года обучения)
          p.education__text Сайт рыбатекст поможет дизайнеру, верстальщику вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке а начинающему оратору отточить навык публичных выступлений в домашних условиях
